h1 {
  color: blue;
}
body{
  background: linear-gradient(to bottom, #ffff00 0%, #0000ff 100%);

}
img{
    width:360px;
    filter: brightness(2);
    border: 10px solid beige;
    filter:  drop-shadow(40px 30px  10px black);
  }
p{
  color:#ffcc

}
